ENV=staging
API_URL=https:/$()/staging-api.example.com/v1
NODE_VERSION=18
YARN_VERSION=1.22.22
ANDROID_SIGNING_KEY=dummy_base64_encoded_key
ANDROID_SIGNING_ALIAS=dummy_alias
ANDROID_SIGNING_STORE_PASSWORD=dummy_store_password
ANDROID_SIGNING_KEY_PASSWORD=dummy_key_password
ANDROID_SERVICE_ACCOUNT=dummy_service_account_json
PACKAGE_NAME=com.testedapp
TRACK=beta
USER_FRACTION=0.5
